---
const YEAR = new Date().getFullYear();
---
<footer>
  <p>{`© ${YEAR} Brunny AI LLC. All rights reserved.`}</p>
</footer>

<style>
  footer {
    border-top: 1px solid #eee;
    margin-block-start: 4rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    text-align: center;
    color: #666;
    font-size: 0.9rem;
  }
</style>
